parameters:
    phpVersion: 70400
    level: 3
    paths:
        - .
    excludePaths:
        - node_modules/
        - vendor/
        - css/ (?)
        - db/
        - tmp/
        - icon/
        - js/
    ignoreErrors:
        -
            identifier: variable.undefined
        -
            identifier: constant.notFound
        -
            identifier: smaller.invalid
        -
            identifier: offsetAccess.notFound
